/* 1 master commit css */
/* 2 master commit css */
/* 3 master commit css */
/* 4 master commit css */
/* 5 master commit css */

*{
  background-color: red;
}
.slider {
  width: 1380px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: red;
}

.slider-images {
  display: flex;
  width: calc(345px * 4);
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider-images img {
  width: 345px;
  height: 300px;
}

.slider-arrow {
  position: absolute;
  bottom: 20%;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 30px;
  color: white;
}

.slider-arrow-left {
  left: 10px;
  background: url("arrow_disable_left.svg");
}

.slider-arrow-right {
  right: 10px;
  background: url("arrow_default_right.svg");
}
.hover-left{
  background: url("arrow_hover_left.svg") !important;
}
.hover-right{
  background: url("arrow_hover_right.svg") !important;
}
.play-button {
  margin-top: 5%;
  margin-left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  background-color: aqua;
}